
// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$google-font: 'Noto Sans', $base-font-family;
$base-font-size:   1rem;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     1.5em;

$text-color:       #737373;
$background-color: #FAFAFA;
$main-color:       #2196F3;
$second-color:     #FF4081;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    45em;

$mobile:          35em;
$desktop:         45em;
