
.simple-gal-container{
  img{
    cursor: zoom-in;
  }
}

.simple-gal-bg{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  height: 100vh;
  width: 100%;
  cursor: zoom-out;
  @extend .flex;
  @extend .align-center;
  @include flex-justify();
  @include translate(0, 100%);
  @include animate(.25s);
    img{
      position: relative;
      display: block;
      max-width: 45em;
      height: auto;
      cursor: default;
    }
}


.simple-gal-close{
  position: absolute;
  top: 1em;
  right: 1em;
  text-align: center;
  font-size: 1.4rem;
}

.simple-gal-slide-in{
  @include translate(0, 0);
}

.materialize{
   -webkit-animation: ease materialize .8s 1;
	 animation: ease materialize .8s 1;
	 box-shadow: 0 5px 30px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.dematerialize{
   -webkit-animation: ease dematerialize 1s 1;
	 animation: ease dematerialize 1s 1;
}


@-webkit-keyframes materialize{
  0%{
    @include scale(0);
  }
  100%{
		@include scale(1);
  }
}

@-moz-keyframes materialize{
  0%{
    @include scale(0);
  }
  100%{
		@include scale(1);
  }
}

@keyframes materialize{
  0%{
    @include scale(0);
  }
  100%{
		@include scale(1);
  }
}

@-webkit-keyframes dematerialize{
  0%{
    @include scale(1);
  }
  100%{
		@include scale(0);
  }
}

@-moz-keyframes dematerialize{
  0%{
    @include scale(1);
  }
  100%{
		@include scale(0);
  }
}

@keyframes dematerialize{
  0%{
    @include scale(1);
  }
  100%{
		@include scale(0);
  }
}
